* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.timer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.column{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.seperator {
    display: flex;
    align-items: center;
    font-size:45px;
    margin: 5px;
    padding: 5px;
}
.btn {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
input {
    width: 75px;
    padding: 5px;
    margin: 5px;
    border:none;
    outline: none;
    font-size: 25px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin : 0;
}
.text {
    font-size: 25px;
}