.accordionContainer {

}

.accItem {
    border: 1px solid  grey;
    margin: 10px;

}
.accHeader {
    background-color: lightgrey;
    padding: 10px;
}
.accContent {
    padding : 10px;
    
}
/* If you want to apply css on active & accContent when both classes are present
use below
.accContent.active{
    display:block;
} but this is not supported in IE 6*/